{% load static %}

<!-- header -->
<header class="header">
  <div class="container-fluid px-lg-5">
    <!-- nav -->
    <nav class="">
      <div id="logo">
        <h1>
          <a href="{% url 'pages:index' %}" class="pt-1">
            <img src="{% static 'core/logo/pages_logo.svg' %}"
                 height="60"
                 alt="KhusiShoes">
          </a>
        </h1>
      </div>

      <label for="drop" class="toggle mt-4">Menu</label>
      <input type="checkbox" id="drop"/>
      <ul class="menu mt-2 pt-3">
        <li><a href={% url 'pages:index' %}>Home</a></li>
        <li><a href={% url 'pages:shop' %}>Men</a></li>
        <li><a href={% url 'pages:shop_women' %}>Women</a></li>
        <li><a href={% url 'pages:about' %}>About</a></li>
        <li><a href={% url 'pages:contact' %}>Contact</a></li>
      </ul>
    </nav>
    <!-- //nav -->
  </div>
</header>
<!-- //header -->