{% extends "store/store-base.html" %}
{% load static %}

{% block main-content %}
  <div class="container-fluid">
    <div class="col-12 col-md-6 offset-2">
      <h6>Detail</h6>
      <div>
        <img src="{{ product.image.url }}" alt="" class="w-50">
      </div>
      <h3 class="text-success">{{ product.name }}</h3>

      <p>Price :{{ product.price }}</p>
      {% if product.discounted_price %}
        Discounted_price :{{ product.discounted_price }}
      {% endif %}

      <p>Date :{{ product.date_modified }}</p>

      <p>Model :{{ product.product_model }}</p>
      <div class="btn-group">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#exampleModal">
          Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <a href="{% url 'store:delete' product.id %}" class="btn
      btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>

        <a href="{% url 'store:update' product.id %}" class="btn
      btn-success">Update</a>
      </div>
    </div>


  </div>
{% endblock %}
