{% load static %}

<div class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-header-title p-3">
      <div class="header-logo-wrapper text-center">
        <img src="{% static 'core/logo/logo_hor.svg' %}" alt="KhusiShoes"
             width="100">
      </div>
      <p class="text-center store-tagline">Every step of yours is our
        responsibility</p>
    </div>
  </div>
  <div class="sidebar-content pt-3">
    <div class="sidebar-links">
      <ul class="sidebar-links-wrapper">
        <li class="sidebar-link
            {% if 'filter' in request.path %}active{% endif %}">
          <a href="{% url 'store:filter' category='All' %}">Products</a>
        </li>
        <li class="sidebar-link
{% if 'order' in request.path %}active{% endif %}">
          <a href="{% url 'store:orders' %}">Orders</a>
        </li>
        <li class="sidebar-link
{% if 'create' in request.path %}active{% endif %}">
          <a href="{% url 'store:create' %}">Create</a>
        </li>
        <li class="sidebar-link">
          <a href="{% url 'accounts:logout' %}">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</div>