{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <style>
      a#underline-link:hover {
          text-decoration: underline;
      }

      .fancy-button, a.fancy-button#buy-link {
          margin-top: 2px;
          box-sizing: border-box;
          outline: none;
          cursor: pointer;
          font-size: 15px;
          color: #fff;
          padding: 8px 30px;
          text-transform: uppercase;
          letter-spacing: 1px;
          display: inline-block;
          background: #212529;
          font-weight: 700;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          border-radius: 0;
          border: 2px solid black;
      }

      .fancy-button.secondary {
          background: transparent;
          color: black;
      }

      .fancy-button.secondary:hover {
          color: white;
          background: black;
          text-decoration: none;
      }

      .fancy-button:hover, a.fancy-button#buy-link:hover {
          color: black;
          background: transparent;
          text-decoration: none;
      }

      .chip {
          padding: 8px 1rem;
          color: white;
          border-radius: 10rem;
      }
      .chip:hover {
          color: white;
      }
     .visit-shop-link {
          padding: 10px 1.5rem;
          border: 2px solid black;
      }
  </style>
  <!-- //Meta tag Keywords -->

  <!-- Custom-Files -->
  <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
  <!-- Bootstrap-Core-CSS -->
  <link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css"
        media="all"/>
  <!-- Style-CSS -->
  <!-- font-awesome-icons -->
  <link href='{% static "css/font-awesome.css" %}' rel="stylesheet">
  <!-- //font-awesome-icons -->
  <!-- /Fonts -->
  <link
      href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
      rel="stylesheet">
  <link
      href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet">
  <!-- //Fonts -->
{% endblock styles %}

{% block content %}
  <h1>Pages Home</h1>
{% endblock content %}