* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*a {*/
/*    color: white;*/
/*}*/

li {
    display: block;
}

.store-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-wrapper {
    height: 100%;
    overflow-x: scroll;
}

.sidebar {
    background-color: #425766;
    height: 100vh;
}

.responsive {
    position: fixed;
    width: 40%;
    left: -40%;
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: ease 0.2s;
}
.responsive.open {
    left: 0;
 }

.responsive .responsive-sidebar-wrapper {
    position: relative;
    transition: ease 0.2s;
}

 .menu-wrapper {
     position: absolute;
     bottom:0;
     /*top:0;*/
     left: 100%;
     z-index: 999;
     color: white;
     background-color: #205067;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 65px;
     height: 65px;
     border-radius: 50%;
     transition: ease 0.2s;
 }

 .menu-wrapper.open {
     top: 0;
     transition: ease 0.2s;
 }

.sidebar-header {
    padding: 5px;
    background-color: #263139;
}

.sidebar-content {
    padding-top: 2rem;
}

.sidebar-link {
    transition: ease-in-out 0.15s;
    padding: 10px;
}

.sidebar-link.active {
    background-color: #344450;
}


.sidebar-link a {
    color: #c4dce8;
    padding-left: 5px;
}

.sidebar-link:hover {
    background-color: #344450;
}

.change-action {
    cursor: pointer;
    color: #205067;
}
.change-action:hover {
    text-decoration: underline;
}

.address-tab {
    width: 250px;
}